body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.urna {
    margin-top: 100px;
    background-color: #faf8f8;
    padding: 30px;
    display: flex;
    border: 1px solid black;
}
.tela {
    width: 600px;
    height: 350px;
    background-color: #A9A9A9;
    background: linear-gradient(to right, #D3D3D3, #DCDCDC );
    border: 1px solid #505050;
    display: flex;
    flex-direction: column;
}
.teclado {
    background-color: #353535;
    margin-left: 20px;
}
.linha {
    width: 70px;
    height: 40px;
    background-color: black;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #505050;
}
.linha-botao {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.botao-branco {
    background-color: #ffffff;
    color: black;
    width: 80px;
    height: 40px;
    text-transform: uppercase;
    font-size: 15px;
}
.botao-corrige {
    background-color: red;
    color: black;
    width: 70px;
    height: 30;
    text-transform: uppercase;
    font-size: 15px;
}
.botao-confirma {
    background-color: green;
    color: black;
    width: 90px;
    height: 50px;
    text-transform: uppercase;
    font-size: 15px;
}
.d-1 {
    flex: 1;
    display: flex;
}
.d-1-left {
    flex: 1;
}
.d-1-right {
    width: 90px;
    height: 120px;
}
.d-2 {
    height: 50px;
    font-size: 13px;
    padding-left: 10px;
    border-top: 2px solid black;
    text-transform: uppercase;
}